.header{
    .bg{
        background:#fff;
    }
    .color{
        color:#333
    }
}

$header-color:#fff;
$header-bg:#333;

/*字体大小*/
$xs-font:12px;
$sm-font:14px;
$md-font:16px;
$lg-font:18px;

$f1c:#333;//第一字体颜色
$f2c:#666;//第二字体颜色

$thBg:#333;//第一主题色
